@using Microsoft.AspNetCore.Identity
@using NuestNews.Models
@inject SignInManager<NewsUser> SignInManager
@inject UserManager<NewsUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/Index", new { area = "" })" method="post" id="logoutForm" class="navbar-right">
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage" style="color:#660000;">ผู้จัดการ @UserManager.GetUserAsync(User).Result.FirstName</a>
            </li>
			<li>
				<a href="/NuestAdmin" style="color:#660000;">Add schedule </a>
			</li>
            <li>
                <button type="submit" class="btn btn-link navbar-btn navbar-link" style="color:#660000;">Logout</button>
            </li>
			
        </ul>
    </form>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li><a asp-area="Identity" asp-page="/Account/Register" style="color:#660000;">Register</a></li>
        <li><a asp-area="Identity" asp-page="/Account/Login" style="color:#660000;">Login</a></li>
    </ul>
}
