﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="jumbotron" style="background-color:#66CDAA;">
	<center><h1>Nu'est Fancafe</h1></center>
</div>
<br />
<div class="row">
	<h3 style="color:#660066;"> All Nu'est's schedules </h3>
	<br/>
	<div class="row">
	<center><img src="~/images/nuest.jpg" style="width:900px;"></center>
	</div>
	<br/><br/>
	<table class="table">
    <thead >
        <tr>
            <th style="color:#660066;">
				Idol Group
            </th>
            <th style="color:#660066;">
                Place
            </th>
            <th style="color:#660066;">
                Date
            </th>
            <th style="color:#660066;">
                Time
            </th>
            <th style="color:#660066;">
               Concept
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.WorkSchedule) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Place)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Time)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Concept)
            </td>
            
        </tr>
}
    </tbody>
</table>
</div>
