@page
@model NuestNews.Pages.NuestAdmin.CreateModel

@{
    ViewData["Title"] = "Add schedule";
}

<h2 style="color:#660066;">Add schedule</h2>

<h4 style="color:#660066;"> เพิ่มข้อมูลและกำหนดการต่าง ๆ </h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                Idol Group
                <input asp-for="WorkSchedule.Name" class="form-control" />
                <span asp-validation-for="WorkSchedule.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                Place
                <input asp-for="WorkSchedule.Place" class="form-control" />
                <span asp-validation-for="WorkSchedule.Place" class="text-danger"></span>
            </div>
            <div class="form-group">
                Date
                <input asp-for="WorkSchedule.DateTime" class="form-control" />
                <span asp-validation-for="WorkSchedule.DateTime" class="text-danger"></span>
            </div>
            <div class="form-group">
				Time
                <input asp-for="WorkSchedule.Time" class="form-control" />
                <span asp-validation-for="WorkSchedule.Time" class="text-danger"></span>
            </div>
            <div class="form-group">
                Concept
                <input asp-for="WorkSchedule.Concept" class="form-control" />
                <span asp-validation-for="WorkSchedule.Concept" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
