@page
@model NuestNews.Pages.NuestAdmin.DeleteModel

@{
    ViewData["Title"] = "Delete schedule";
}

<h2 style="color:#660066;">Delete schedule</h2>

<h4 style="color:#660066;">กรุณาตรวจสอบข้อมูลอีกครั้งเพื่อความถูกต้อง</h4>
<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Idol Group
        </dt>
        <dd>
            @Html.DisplayFor(model => model.WorkSchedule.Name)
        </dd>
        <dt>
            Place
        </dt>
        <dd>
            @Html.DisplayFor(model => model.WorkSchedule.Place)
        </dd>
        <dt>
            Date
        </dt>
        <dd>
            @Html.DisplayFor(model => model.WorkSchedule.DateTime)
        </dd>
        <dt>
            Time
        </dt>
        <dd>
            @Html.DisplayFor(model => model.WorkSchedule.Time)
        </dd>
        <dt>
            Concept
        </dt>
        <dd>
            @Html.DisplayFor(model => model.WorkSchedule.Concept)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="WorkSchedule.WorkScheduleID" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
