@page
@model NuestNews.Pages.NuestAdmin.DetailsModel

@{
    ViewData["Title"] = "Schedule Details";
}

<h2 style="color:#660066;">Schedule Details</h2>

<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Idol Group
        </dt>
        <dd>
            @Html.DisplayFor(model => model.WorkSchedule.Name)
        </dd>
        <dt>
            Place
        </dt>
        <dd>
            @Html.DisplayFor(model => model.WorkSchedule.Place)
        </dd>
        <dt>
            Date
        </dt>
        <dd>
            @Html.DisplayFor(model => model.WorkSchedule.DateTime)
        </dd>
        <dt>
            Time
        </dt>
        <dd>
            @Html.DisplayFor(model => model.WorkSchedule.Time)
        </dd>
        <dt>
            Concept
        </dt>
        <dd>
            @Html.DisplayFor(model => model.WorkSchedule.Concept)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.WorkSchedule.WorkScheduleID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
