@page
@model NuestNews.Pages.NuestAdmin.IndexModel

@{
    ViewData["Title"] = "Management";
}
<br/>
<h2 style="color:#660066;">Work Schedule management</h2>
<br/><br/>
<p>
    <a asp-page="Create">Add Schedule</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
				Idol Group
            </th>
            <th>
                Place
            </th>
            <th>
                Date
            </th>
            <th>
                Time
            </th>
            <th>
               Concept
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.WorkSchedule) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Place)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Time)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Concept)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.WorkScheduleID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.WorkScheduleID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.WorkScheduleID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
