@page
@model NewsReport.Pages.NewsCategoryAdmin.DetailsModel

@{
    ViewData["Title"] = "คำอธิบายหัวข้อข่าว";
}
<body style="background-color :#F5DEB3"></body>
<h2>คำอธิบายหัวข้อข่าว</h2>

<div>
    <h4>แสดงข้อมูลหัวข้อข่าว</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
			ชื่อย่อของหมวดข่าว
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NewsCategory.ShortName)
        </dd>
        <dt>
				ชื่อเต็ม/คำอธิบายหมวด
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NewsCategory.FullName)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.NewsCategory.NewsCategoryID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
